# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# Node
node_modules/
npm-debug.log*

# Remotva local runtime files
active_pin.txt
